* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    box-sizing: border-box;
    outline: none;
    
}
body {
    background-color: #080808;
    color: #fff;
    overflow-x: hidden;
    background:#080808;
    background-color :#262626;
}


/* logout section */

.nav .logo p a{
    color: #ff004f;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* log out button */

.btn5{ 
    color: rgb(219, 214, 214);
    font-weight: 600;
    width: 8rem;
    margin-right: -100px;
    border: 1px solid #ff004f;
    transition: background 0.8s;
    background-color: transparent;
}
.btn5:hover{
    color: whitesmoke;
    background-color: #ff004f;
    border: 1px solid #e12f68;
}

.nav{
    /* background: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}



@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}

/* portfolio section */


/* Header Section */
#header {
    width: 100%;
    height: 90vh;
    /* background-image: url(images/img4.jpg);
    background-size: cover;
    background-position: center; */
    /* background-color: transparent; */
}
.header-text h1, span{
    /* display: inline-block; */
    /* justify-content: center; */
    display: inline;
    align-items: start;
    text-align: left;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .logo-shreya {
    color: #ff004f;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    width: 140px;
    /* background-image: url("/logo.png"); */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: all 0.4s ease-in-out;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 450;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fas {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidemenu {
    display: flex;
    list-style: none;
    padding: 0;
}

#sidemenu li {
    margin: 0 15px;
}

.fa-bars, .fa-xmark {
    display: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #sidemenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        right: 0;
        background-color: white; /* Change as needed */
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #sidemenu.active {
        display: flex;
    }

    .fa-bars {
        display: block;
    }

    .fa-xmark {
        display: block;
    }
}

@media (max-width: 768px) {
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ff004f;
        z-index: 10;
    }

    nav ul.open {
        right: 0;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav .fas {
        display: block;
    }
}


nav ul #sidemenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #ff004f;
    transition: 0.5s;
    z-index: 1000;
    padding-top: 50px;
}

nav ul#sidemenu li {
    text-align: center;
    margin: 25px 0;
}

nav ul#sidemenu i {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    color: #fff;
}

/* -------Login------ */
.login:hover{
    color: #ff004f;
}
/* Header Text */
.header-text {
    margin-top: 70px;
    font-size: 22px;
    /* text-align: center; */
}

.header-text h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}


/* About Section */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:40%;
}

.about-col-1 img {
    width: 95%;
    height: 80%;
    padding-left: -20px;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;

}
.about-col-2 .about{
    align-items: center;
    text-align: left;
    /* display: flex; */
    /* justify-content: start; */
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.shreya{
    color: #ff004f;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fe2167;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;

}


/* Services */
#services {
    /* padding: -50px 0; */
    /* padding-top: -20px; */
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-listdiv a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background:#ff004f;
    transform: translateY(-10px);
}


/* work */
#portfolio {
    padding: 50px 0;
}
.sub-title{
    margin-top: 15px;
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
    /* padding: 10px; */
}
.sub-title:hover{
    color: #ff004f;
    text-decoration: 2px solid underline ;
    /* transition : transform 0.9s; */

}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%; 
    height: 100%;
    border-radius: 10px;
    display: block;
    transition : transform 0.5s;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.9s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
    transition : transform 0.5s;
}
.work:hover .layer{
    height: 100%;
}
/* Contact */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.contact-left p i {
    color: #870bcf;
    /* margin-right: 15px; */
    /* margin-left: -23rem; */
    /* align-items: start; */
    font-size: 30px;
    transition: transform (0.5s);
    margin-right: 15px;

}
.contact-left p i:hover{
    color: #ff004f;
    
   /* margin-left: 60px; */
    /* transform: translateY(-5px) */
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    columns: #ababab;
    display: inline-block;
    transition: transform (0.5s);
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px)
}

/* Buttons */
.btn {
    display: inline-block;
    /* margin: 20px auto; */
    align-items: center;
    /* padding: 10px 30px; */
    border: 1px solid #db1050;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.8s;
}

.btn:hover {
    background: #ff004f;
    color: #fff;
    border: 1px solid white;
}

.btn2{
    display: inline-block;
    transition: background 0.8s;
    
    /* background: #e51255; */
}
.btn2:hover{
    color:whitesmoke;
    border: 1px solid white;
}
.btn3{
    margin-top: 15px;
    padding: 11px 13px;
    display: inline-block;
    transition: background 0.8s;
    
    /* background: #e51255; */
}
.contact-right form{
    width: 100%;

}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    /* padding: 14px 60px; */
    width: 6rem;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.submit{
    display: inline-block;
    align-items: center;
    color: #ababab;
    background: transparent;
    padding: auto;
    /* margin-right: 10px; */
    /* padding-right: 20px; */
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    text-decoration: none;
    color: #dc356a;
}
.copyright p{
    color:#e71759;
    text-decoration: none;
}
.copyright p:hover{
    color:#ad0339;
    text-decoration: none;
}

/* -----css for small screen------ */

nav .fas{
    display: none;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    /* Header Text */
    .header-text h1 {
        font-size: 40px;
    }

    .header-text {
        font-size: 18px;
        margin-top: 120px;
    }

    /* Navigation */
    nav .fas {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul #sidemenu {
        display: block;
    }

    /* About Section */
    .row {
        flex-direction: column;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-2 {
        margin-top: 20px;
    }
}
/* Portfolio Images */
.work img {
    transition: transform 0.5s ease;
}

.work:hover img {
    transform: scale(1.05);
}

.layer {
    transition: height 0.9s ease-in-out;
}

.work:hover .layer {
    height: 100%;
}
.btn4{
    border: 1px solid #ff004f;
    text-decoration: none;
    color: white;
    padding: 12px 14px;
    /* margin-top: 100px; */
    border-radius: 5px;
    transition: background 0.8s;
}
.btn4:hover{
    background-color: #ff004f;
    color: whitesmoke;
}

@media screen and (max-width: 480px) {
    .header-text h1 {
        font-size: 30px;
    }

    .header-text {
        font-size: 16px;
    }

    .service-list {
        grid-template-columns: 1fr;
    }

    .work-list {
        grid-template-columns: 1fr;
    }

    .social-icons a {
        font-size: 25px;
    }
}

/* -------- forms ------- */

.forms{
    /* display: flex; */
    justify-content: space-evenly;
    width: 10rem;
    background-color: #080808;
    transition: background 0.8s;
    border: 1px solid #ff004f;
}
.forms a{
    display: block;
    color:white;
    
    justify-content: space-evenly;
    text-decoration: none;
    transition: background 0.8s;

   
    /* background-color: #080808; */
}
.forms:hover{
    background-color:#ff004f;
    /* color: whitesmoke; */
    /* transition: background 0.5s; */
}
.forms a:hover{
    color: whitesmoke;
}


/* ------ extra space ------ */
.space{
    height: 60px;
}

/* change profile  */

.btn6{
    text-decoration: none;
    color:#dc356a;
    font-weight: 500;
    display: flex;
    width: 100%;
    /* border: 1px solid #ff004f; */
    /* border-radius: 10px; */
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 40, 40);
}
.btn6:hover{
    color: #ff004f;

}